#box
{
    width: 50px;
    height: 50px;    
    background-color: blue;
    opacity: 0.80;
}

#container
{
    width: 400px;
    height: 400px;
    background-color: lightblue;
    position: absolute;
}
#button-panel
{
    padding: 10px;
}